@import "./utils/variables";
@import "./utils/button";
@import "./base/normalize";
@import "./components/logo";
@import "./components/header/header-contacts";
@import "./components/header/page-header";
@import "./components/header/navigation";
@import "./components/studio/section";
@import "./components/studio/hero";
@import "./components/studio/features";
@import "./components/studio/works";
@import "./components/studio/team";
@import "./components/studio/clients";
@import "./components/studio/modal";
@import "./components/portfolio/filters";
@import "./components/portfolio/portfolio";
@import "./components/page-footer";

body {
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;

  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
