.clients-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list > .element {
  display: flex;
}

.clients-list .element:not(:last-child) {
  margin-right: 30px;
}

.client-links-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links-bg:hover,
.client-links-bg:focus {
  border: 1px solid $accentColor;
}

.clients-links {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links-bg:hover .clients-links,
.client-links-bg:focus .clients-links {
  fill: $accentColor;
}
