.features-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 93px;
  border-bottom: 1px solid #ececec;
}

.features-list {
  display: flex;

  & .item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $primaryTextColor;

  font-weight: 700;
  font-size: $fontSize;
  line-height: $lineHeight;
  text-transform: uppercase;
}

.features-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondaryTextColor;
  line-height: 1.7;
}

.features-card {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
}
