.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8) 100%,
      rgba(47, 48, 58, 0.8) 100%
    ),
    url("../img/hero-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  width: 696px;
  display: inline-block;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: $primaryWhiteColor;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-transform: uppercase;
  letter-spacing: 0.06em;
}
