.close-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:none;
    outline: none;
    background: $primery-white-color;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  .modal {
    position: absolute;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    min-height: 581px;
    min-width: 528px;
    padding: 40px;
    text-align: left;
  
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .modal-title {
    margin-top: 0px;
    margin-bottom: 30px;
  
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: $primary-text-color;
  }
  
  .submit-button {
    padding: 10px 55px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  textarea {
    resize: none;
  }
  
  .form-field input {
    width: 100%;
    margin: 0;
    padding: 12px 16px 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
  }
  
  .form-field label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: var(--title-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  
  .form-comment {
    position: relative;
  }
  
  .form-comment label {
    position: absolute;
    top: 12px;
    left: 15px;
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: var(--title-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  
  .form-field {
    position: relative;
    margin-bottom: 28px;
  }
  
  .comment {
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  
  .comment:focus + .form-label,
  .comment:not(:placeholder-shown) + .form-label {
    color: $accent-color;
    transform: translateY(-34px);
  }
  
  .comment:focus {
    border: 1px solid $accent-color;
  }
  
  .policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--title-text-color);
  }
  
  .form-field input[type='checkbox'] {
    width: 16px;
  }
  
  .form-field-policy {
    display: flex;
    align-items: center;
  }
  
  .policy-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  
    border: 2px solid #2a2a2a;
    border-radius: 4px;
  
    transition: transform 250ms linear;
  }
  
  .checkbox:checked + .policy-icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
  
  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    color: $accent-color;
    transform: translate(-31px, -42px);
  }
  
  .form-input:focus {
    border: 1px solid $accent-color;
  }
  
  .form-field .icon {
    position: absolute;
    display: flex;
    left: 19px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-input:focus ~ .icon {
    fill: $accent-color;
  }
  
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .policy-link {
    color: $accent-color;
  }