.team-list {
  display: flex;

  text-align: center;

  & > .item {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-bottom: 24px;
  }

  & .item:not(:last-child) {
    margin-right: 30px;
  }
}
.team-img {
  display: block;
  margin-bottom: 30px;
  border-radius: 4px 4px 0px 0px;
}

.team-info {
  background-color: $primaryWhiteColor;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $primaryTextColor;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-job {
  margin-top: 0;
  margin-bottom: 16px;

  color: $secondaryTextColor;

  font-size: 16px;
  line-height: 1.18;
}

.team-bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}
.links-list {
  display: flex;
  justify-content: center;
}

.icons-item:not(:last-child) {
  margin-right: 10px;
}

.links-bg {
  display: flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.team-links {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .links-bg:hover &,
  .links-bg:focus & {
    fill: $primaryWhiteColor;
  }
}
