.image {
  display: block;
  border-radius: 4px;
}

.works-list {
  display: flex;

  & .item:not(:last-child) {
    margin-right: 30px;
  }

  & .item {
    position: relative;
  }
}

.works-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;

  color: $primaryWhiteColor;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: $lineHeight;
  text-align: center;
  text-transform: uppercase;
}
