.logo > .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: $accentColor;
}

.studio {
  color: #000000;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.web-footer {
  color: $accentColor;
}

.studio-footer {
  color: $primaryWhiteColor;
}
