.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $primary-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
