button {
  font-family: inherit;
}

.filters {
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: $primaryTextColor;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: $letterSpacing;

  border: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background: $accentColor;
    border: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.filters-title {
  margin-top: 0;
  margin-bottom: 0;
}

.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  & .item:not(:last-child) {
    margin-right: 8px;
  }
}
