.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
  list-style: none;
}

.flex-element {
  width: 370px;
  margin: 15px;

  & .img {
    display: block;
    border-radius: 5px 5px 0px 0px;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.image-thumb {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .image-overlay,
.flex-element:focus .image-overlay {
  transform: translateY(0);
  opacity: 1;
}

.project-info {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $primaryWhiteColor;
}

.card-info {
  background-color: $primaryWhiteColor;
  border: 1px solid #eeeeee;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}

.flex-element > .links {
  text-decoration: none;
}

.port-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  color: $primaryTextColor;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.par-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: $secondaryTextColor;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
