.contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 31px;
  color: $secondaryTextColor;

  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .icon-item,
  &:focus .icon-item {
    fill: $accentColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.icon-item {
  margin-right: 10px;
  align-self: center;
  fill: $secondaryTextColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
