.site-nav {
    display: inline-flex;
    margin-left: 86px;
  }
  
  & .item + .item {
    margin-left: 50px;
  }
  
  & .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    color: $primery-text-color;
  
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  & .current {
    color: $accent-color;
  }
  
  & .current:after {
    display: flex;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: $accent-color;
    border-radius: 2px;
  }
  
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
  
  .contacts-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
  .contacts-nav .item:not(:last-child) {
    margin-right: 30px;
  }