.site-nav {
  display: inline-flex;
  margin-left: 86px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  & .item + .item {
    margin-left: 50px;
  }

  & .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    color: $primaryTextColor;

    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .current {
    color: $accentColor;
  }

  & .current:after {
    display: flex;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: $accentColor;
    border-radius: 2px;
  }

  & .link:hover,
  & .link:focus {
    color: $accentColor;
  }
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding: 0;

  & .item:not(:last-child) {
    margin-right: 30px;
  }
}
