.page-header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
  }
  
  .main-header {
    display: flex;
    align-items: center;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  