.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $primaryWhiteColor;
  background-color: $accentColor;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
}

.secondary-button {
  display: flex;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  min-width: 200px;
  height: 50px;

  color: $primaryWhiteColor;
  background-color: $accentColor;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
}
